.container {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f5f5f5;
}

span {
  flex-grow: 1;
}

.done-text {

  text-decoration: line-through;
}
.done-button {

  padding: 15px;
  margin-right: 20px;
  background-color: rgb(148, 48, 148);

}
.done-button:hover{
  background-color: rgb(117, 9, 117);
}

button.delete-button {
  padding: 15px;
  background-color: #dc3545;
}

button.edit-button {
  padding: 15px;
  margin-right: 20px;
  background-color: #28a745;
}

.delete-button:hover {
  background-color: #bd2130;
}

.edit-button:hover {
  background-color: #1e7e34;
}
